@import "tailwindcss";
@theme {
  /* 🚨 COLORS  */
  --color-primary-100: #c5ff95;
  --color-primary-200: #074173;
  --color-primary-300: #1e1b18;

  --color-sec-100: #0c5486;
  --color-sec-200: #5debd7;

  --color-black-100: #202125;
  --color-black-200: #0d0d0d;
  --color-black-300: #252424;

  --color-white-100: #f3f3f3;
  --color-white-200: #818181;
  --color-white-300: #E8E7E7;
  
}

.wrapper {
  @apply w-[90%] mx-auto;
}
